<%- include('./partials/header.ejs') %>

<!-- <h1>this is the landing page</h1> -->


	<!-- Hero !-->
	<section class="banner">
		<h1 class="wow bounceInUp">Your Dream</h1>
		<h2>Job is Waiting</h2>
		<div class="search-box">
			<form action="">
				<input type="text" class="form-control input m-4" placeholder="Enter Skills/ Designations/ Companies" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
				<button type="button" class="btn btn-info submit-button">Search</button>
			</form>
		</div>
	</section>

	
	<!-- Section 1 !-->
	<section class="section-1 row me-0 ps-5 pe-5">
		<div class="details col-3">
			<i class="fa-solid fa-magnifying-glass fa-bounce fa-2xl" style="color: #00B074;"></i>
			<h4>Search Millions of Jobs</h4>
			<p>A small river named Duden flows by their place and supplies.</p>
		</div>
		<div class="details col-3">
			<i class="fa-solid fa-people-roof fa-bounce fa-2xl" style="color: #00B074;"></i>
			<h4>Easy To Manage Jobs</h4>
			<p>A small river named Duden flows by their place and supplies.</p>
		</div>
		<div class="details col-3">
			<i class="fa-solid fa-ranking-star fa-bounce fa-2xl" style="color: #00B074;"></i>
			<h4>Top Careers</h4>
			<p>A small river named Duden flows by their place and supplies.</p>
		</div>
		<div class="details col-3">
			<i class="fa-solid fa-user-tie fa-bounce fa-2xl" style="color: #00B074;"></i>
			<h4>Search Expert Candidates</h4>
			<p>A small river named Duden flows by their place and supplies.</p>
		</div>
	</section>

	<!-- Category Start -->
	<div class="pt-5 pb-5 categories">
		<div class="gap">
			<!-- <h1 class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">Explore By Category</h1> -->
			<div class="waviy mb-4">
				<span style="--i:1">E</span>
				<span style="--i:2">X</span>
				<span style="--i:3">P</span>
				<span style="--i:4">L</span>
				<span style="--i:5">O</span>
				<span style="--i:6">R</span>
				<span style="--i:7">E </span>
				<span style="--i:8">&nbsp;</span>
				<span style="--i:9">B</span>
				<span style="--i:10">Y </span>
				<span style="--i:11">&nbsp;</span>
				<span style="--i:12">C</span>
				<span style="--i:13">A</span>
				<span style="--i:14">T</span>
				<span style="--i:15">E</span>
				<span style="--i:16">G</span>
				<span style="--i:17">O</span>
				<span style="--i:18">R</span>
				<span style="--i:19">I</span>
				<span style="--i:20">E</span>
				<span style="--i:21">S</span>
			 
			   </div>
			<div class="row me-0 ps-5 pe-5">
				<div class="col-3 " data-wow-delay="0.1s">
					<div class="details">
						<a class="cat-item rounded p-4" href="">
							<i class="fa fa-3x fa-mail-bulk text-primary mb-4" style="color: #00B074 !important;"></i>
							<h6 class="mb-3">Marketing</h6>
							<p class="mb-0">123 Vacancy</p>
						</a>
					</div>
				</div>
				<div class="col-3 " data-wow-delay="0.3s">
					<div class="details">
						<a class="cat-item rounded p-4" href="">
							<i class="fa fa-3x fa-headset text-primary mb-4" style="color: #00B074 !important;"></i>
							<h6 class="mb-3">Customer Service</h6>
							<p class="mb-0">123 Vacancy</p>
						</a>
					</div>
				</div>
				<div class="col-3 " data-wow-delay="0.5s">
					<div class="details">
						<a class="cat-item rounded p-4" href="">
							<i class="fa fa-3x fa-user-tie text-primary mb-4" style="color: #00B074 !important;"></i>
							<h6 class="mb-3">Human Resource</h6>
							<p class="mb-0">123 Vacancy</p>
						</a>
					</div>
				</div>
				<div class="col-3 " data-wow-delay="0.7s">
					<div class="details">
						<a class="cat-item rounded p-4" href="">
							<i class="fa fa-3x fa-tasks text-primary mb-4" style="color: #00B074 !important;"></i>
							<h6 class="mb-3">Project Management</h6>
							<p class="mb-0">123 Vacancy</p>
						</a>
					</div>
				</div>
				<div class="col-3 " data-wow-delay="0.1s">
					<div class="details">
						<a class="cat-item rounded p-4" href="">
							<i class="fa fa-3x fa-chart-line text-primary mb-4" style="color: #00B074 !important;"></i>
							<h6 class="mb-3">Business Development</h6>
							<p class="mb-0">123 Vacancy</p>
						</a>
					</div>
				</div>
				<div class="col-3 " data-wow-delay="0.3s">
					<div class="details">
						<a class="cat-item rounded p-4" href="">
							<i class="fa fa-3x fa-hands-helping text-primary mb-4" style="color: #00B074 !important;"></i>
							<h6 class="mb-3">Sales & Communication</h6>
							<p class="mb-0">123 Vacancy</p>
						</a>
					</div>
				</div>
				<div class="col-3 " data-wow-delay="0.5s">
					<div class="details">
						<a class="cat-item rounded p-4" href="">
							<i class="fa fa-3x fa-book-reader text-primary mb-4" style="color: #00B074 !important;"></i>
							<h6 class="mb-3">Teaching & Education</h6>
							<p class="mb-0">123 Vacancy</p>
						</a>
					</div>
				</div>
				<div class="col-3 " data-wow-delay="0.7s">
					<div class="details">
						<a class="cat-item rounded p-4" href="">
							<i class="fa fa-3x fa-drafting-compass text-primary mb-4" style="color: #00B074 !important;"></i>
							<h6 class="mb-3">Design & Creative</h6>
							<p class="mb-0">123 Vacancy</p>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Category End -->
	
	<!-- Section 2 !-->
	<section class="section-2">
		<!-- recent jobs -->
		<div class="latest-job-box latest-job py-5">
			<div style="margin-top: 45px; margin-bottom: 60px;" class="container bg-light p-4 rounded-3">
				<div class="container">
					<h3 class="fw-bold text-uppercase">Latest Jobs</h3>
					<% recentJobs.forEach(function(job){ %>
					<hr>
					<div class="card bg-light mb-3">
						<div class="row g-0">
							<div class="col-md-3 d-flex align-items-center">
								<img style="width: 30%; height: auto;" src="<%= job.image %>" class="img-fluid rounded-start my-auto p-3" alt="...">
							</div>
							<div class="col-md-6">
								<div class="card-body">
									<h4 class="card-title">
										<%= job.name %>
									</h4>
									<p class="card-text"><small class="text-muted">
											<i class="me-1 fas fa-map-marker-alt"></i> <%= job.location %>
											<i class="ms-3 me-1 far fa-clock"></i> <%= job.time %>
											<i class="ms-3 me-1 far fa-money-bill-alt"></i>
											<%= job.stipend %>
											<i class="ms-3 me-1 fas fa-hourglass-half"></i> <%= job.deadline.toDateString() %>
										</small></p>
								</div>
							</div>
							<div class="col-md-3 d-flex align-items-center justify-content-center">
								<a href="/jobs/<%= job._id %>" class="btn btn-outline-danger">Apply Now</a>
							</div>
						</div>
					</div>
					<% }); %>
					<div class="d-flex justify-content-end"><a href="/jobs" class="btn btn-danger">View All Jobs</button></a>
					</div>
				</div>
			</div>
		</div>
		
	</section>

	<!-- Jobs Start -->
	<div class="container-xxl py-5 text-dark jobs-container">
		<div class="container">
			<h1 class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">Job Listing</h1>
			<div class="tab-class text-center wow fadeInUp" data-wow-delay="0.3s">
				<ul class="nav nav-pills d-inline-flex justify-content-center border-bottom mb-5">
					<li class="nav-item">
						<a class="d-flex align-items-center text-start mx-3 ms-0 pb-3 active" data-bs-toggle="pill" href="#tab-1">
							<h6 class="mt-n1 mb-0">Featured</h6>
						</a>
					</li>
					<li class="nav-item">
						<a class="d-flex align-items-center text-start mx-3 pb-3" data-bs-toggle="pill" href="#tab-2">
							<h6 class="mt-n1 mb-0">Full Time</h6>
						</a>
					</li>
					<li class="nav-item">
						<a class="d-flex align-items-center text-start mx-3 me-0 pb-3" data-bs-toggle="pill" href="#tab-3">
							<h6 class="mt-n1 mb-0">Part Time</h6>
						</a>
					</li>
				</ul>
				<div class="tab-content">
					<div id="tab-1" class="tab-pane fade show p-0 active">
						<div class="job-item p-4 mb-4">
							<div class="row g-4">
								<div class="col-sm-12 col-md-8 d-flex align-items-center">
									<img class="flex-shrink-0 img-fluid border rounded" src="img/com-logo-1.jpg" alt="" style="width: 80px; height: 80px;">
									<div class="text-start ps-4">
										<h5 class="mb-3">Software Engineer</h5>
										<span class="text-truncate me-3"><i class="fa fa-map-marker-alt text-primary me-2"></i>New York, USA</span>
										<span class="text-truncate me-3"><i class="far fa-clock text-primary me-2"></i>Full Time</span>
										<span class="text-truncate me-0"><i class="far fa-money-bill-alt text-primary me-2"></i>$123 - $456</span>
									</div>
								</div>
								<div class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
									<div class="d-flex mb-3">
										<a class="btn btn-light btn-square me-3" href=""><i class="far fa-heart text-primary"></i></a>
										<a class="btn btn-primary" href="">Apply Now</a>
									</div>
									<small class="text-truncate"><i class="far fa-calendar-alt text-primary me-2"></i>Date Line: 01 Jan, 2045</small>
								</div>
							</div>
						</div>
						<div class="job-item p-4 mb-4">
							<div class="row g-4">
								<div class="col-sm-12 col-md-8 d-flex align-items-center">
									<img class="flex-shrink-0 img-fluid border rounded" src="img/com-logo-2.jpg" alt="" style="width: 80px; height: 80px;">
									<div class="text-start ps-4">
										<h5 class="mb-3">Marketing Manager</h5>
										<span class="text-truncate me-3"><i class="fa fa-map-marker-alt text-primary me-2"></i>New York, USA</span>
										<span class="text-truncate me-3"><i class="far fa-clock text-primary me-2"></i>Full Time</span>
										<span class="text-truncate me-0"><i class="far fa-money-bill-alt text-primary me-2"></i>$123 - $456</span>
									</div>
								</div>
								<div class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
									<div class="d-flex mb-3">
										<a class="btn btn-light btn-square me-3" href=""><i class="far fa-heart text-primary"></i></a>
										<a class="btn btn-primary" href="">Apply Now</a>
									</div>
									<small class="text-truncate"><i class="far fa-calendar-alt text-primary me-2"></i>Date Line: 01 Jan, 2045</small>
								</div>
							</div>
						</div>
						<div class="job-item p-4 mb-4">
							<div class="row g-4">
								<div class="col-sm-12 col-md-8 d-flex align-items-center">
									<img class="flex-shrink-0 img-fluid border rounded" src="img/com-logo-3.jpg" alt="" style="width: 80px; height: 80px;">
									<div class="text-start ps-4">
										<h5 class="mb-3">Product Designer</h5>
										<span class="text-truncate me-3"><i class="fa fa-map-marker-alt text-primary me-2"></i>New York, USA</span>
										<span class="text-truncate me-3"><i class="far fa-clock text-primary me-2"></i>Full Time</span>
										<span class="text-truncate me-0"><i class="far fa-money-bill-alt text-primary me-2"></i>$123 - $456</span>
									</div>
								</div>
								<div class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
									<div class="d-flex mb-3">
										<a class="btn btn-light btn-square me-3" href=""><i class="far fa-heart text-primary"></i></a>
										<a class="btn btn-primary" href="">Apply Now</a>
									</div>
									<small class="text-truncate"><i class="far fa-calendar-alt text-primary me-2"></i>Date Line: 01 Jan, 2045</small>
								</div>
							</div>
						</div>
						<div class="job-item p-4 mb-4">
							<div class="row g-4">
								<div class="col-sm-12 col-md-8 d-flex align-items-center">
									<img class="flex-shrink-0 img-fluid border rounded" src="img/com-logo-4.jpg" alt="" style="width: 80px; height: 80px;">
									<div class="text-start ps-4">
										<h5 class="mb-3">Creative Director</h5>
										<span class="text-truncate me-3"><i class="fa fa-map-marker-alt text-primary me-2"></i>New York, USA</span>
										<span class="text-truncate me-3"><i class="far fa-clock text-primary me-2"></i>Full Time</span>
										<span class="text-truncate me-0"><i class="far fa-money-bill-alt text-primary me-2"></i>$123 - $456</span>
									</div>
								</div>
								<div class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
									<div class="d-flex mb-3">
										<a class="btn btn-light btn-square me-3" href=""><i class="far fa-heart text-primary"></i></a>
										<a class="btn btn-primary" href="">Apply Now</a>
									</div>
									<small class="text-truncate"><i class="far fa-calendar-alt text-primary me-2"></i>Date Line: 01 Jan, 2045</small>
								</div>
							</div>
						</div>
						<div class="job-item p-4 mb-4">
							<div class="row g-4">
								<div class="col-sm-12 col-md-8 d-flex align-items-center">
									<img class="flex-shrink-0 img-fluid border rounded" src="img/com-logo-5.jpg" alt="" style="width: 80px; height: 80px;">
									<div class="text-start ps-4">
										<h5 class="mb-3">Wordpress Developer</h5>
										<span class="text-truncate me-3"><i class="fa fa-map-marker-alt text-primary me-2"></i>New York, USA</span>
										<span class="text-truncate me-3"><i class="far fa-clock text-primary me-2"></i>Full Time</span>
										<span class="text-truncate me-0"><i class="far fa-money-bill-alt text-primary me-2"></i>$123 - $456</span>
									</div>
								</div>
								<div class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
									<div class="d-flex mb-3">
										<a class="btn btn-light btn-square me-3" href=""><i class="far fa-heart text-primary"></i></a>
										<a class="btn btn-primary" href="">Apply Now</a>
									</div>
									<small class="text-truncate"><i class="far fa-calendar-alt text-primary me-2"></i>Date Line: 01 Jan, 2045</small>
								</div>
							</div>
						</div>
						<a class="btn btn-primary py-3 px-5" href="">Browse More Jobs</a>
					</div>
					<div id="tab-2" class="tab-pane fade show p-0">
						<div class="job-item p-4 mb-4">
							<div class="row g-4">
								<div class="col-sm-12 col-md-8 d-flex align-items-center">
									<img class="flex-shrink-0 img-fluid border rounded" src="img/com-logo-1.jpg" alt="" style="width: 80px; height: 80px;">
									<div class="text-start ps-4">
										<h5 class="mb-3">Software Engineer</h5>
										<span class="text-truncate me-3"><i class="fa fa-map-marker-alt text-primary me-2"></i>New York, USA</span>
										<span class="text-truncate me-3"><i class="far fa-clock text-primary me-2"></i>Full Time</span>
										<span class="text-truncate me-0"><i class="far fa-money-bill-alt text-primary me-2"></i>$123 - $456</span>
									</div>
								</div>
								<div class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
									<div class="d-flex mb-3">
										<a class="btn btn-light btn-square me-3" href=""><i class="far fa-heart text-primary"></i></a>
										<a class="btn btn-primary" href="">Apply Now</a>
									</div>
									<small class="text-truncate"><i class="far fa-calendar-alt text-primary me-2"></i>Date Line: 01 Jan, 2045</small>
								</div>
							</div>
						</div>
						<div class="job-item p-4 mb-4">
							<div class="row g-4">
								<div class="col-sm-12 col-md-8 d-flex align-items-center">
									<img class="flex-shrink-0 img-fluid border rounded" src="img/com-logo-2.jpg" alt="" style="width: 80px; height: 80px;">
									<div class="text-start ps-4">
										<h5 class="mb-3">Marketing Manager</h5>
										<span class="text-truncate me-3"><i class="fa fa-map-marker-alt text-primary me-2"></i>New York, USA</span>
										<span class="text-truncate me-3"><i class="far fa-clock text-primary me-2"></i>Full Time</span>
										<span class="text-truncate me-0"><i class="far fa-money-bill-alt text-primary me-2"></i>$123 - $456</span>
									</div>
								</div>
								<div class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
									<div class="d-flex mb-3">
										<a class="btn btn-light btn-square me-3" href=""><i class="far fa-heart text-primary"></i></a>
										<a class="btn btn-primary" href="">Apply Now</a>
									</div>
									<small class="text-truncate"><i class="far fa-calendar-alt text-primary me-2"></i>Date Line: 01 Jan, 2045</small>
								</div>
							</div>
						</div>
						<div class="job-item p-4 mb-4">
							<div class="row g-4">
								<div class="col-sm-12 col-md-8 d-flex align-items-center">
									<img class="flex-shrink-0 img-fluid border rounded" src="img/com-logo-3.jpg" alt="" style="width: 80px; height: 80px;">
									<div class="text-start ps-4">
										<h5 class="mb-3">Product Designer</h5>
										<span class="text-truncate me-3"><i class="fa fa-map-marker-alt text-primary me-2"></i>New York, USA</span>
										<span class="text-truncate me-3"><i class="far fa-clock text-primary me-2"></i>Full Time</span>
										<span class="text-truncate me-0"><i class="far fa-money-bill-alt text-primary me-2"></i>$123 - $456</span>
									</div>
								</div>
								<div class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
									<div class="d-flex mb-3">
										<a class="btn btn-light btn-square me-3" href=""><i class="far fa-heart text-primary"></i></a>
										<a class="btn btn-primary" href="">Apply Now</a>
									</div>
									<small class="text-truncate"><i class="far fa-calendar-alt text-primary me-2"></i>Date Line: 01 Jan, 2045</small>
								</div>
							</div>
						</div>
						<div class="job-item p-4 mb-4">
							<div class="row g-4">
								<div class="col-sm-12 col-md-8 d-flex align-items-center">
									<img class="flex-shrink-0 img-fluid border rounded" src="img/com-logo-4.jpg" alt="" style="width: 80px; height: 80px;">
									<div class="text-start ps-4">
										<h5 class="mb-3">Creative Director</h5>
										<span class="text-truncate me-3"><i class="fa fa-map-marker-alt text-primary me-2"></i>New York, USA</span>
										<span class="text-truncate me-3"><i class="far fa-clock text-primary me-2"></i>Full Time</span>
										<span class="text-truncate me-0"><i class="far fa-money-bill-alt text-primary me-2"></i>$123 - $456</span>
									</div>
								</div>
								<div class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
									<div class="d-flex mb-3">
										<a class="btn btn-light btn-square me-3" href=""><i class="far fa-heart text-primary"></i></a>
										<a class="btn btn-primary" href="">Apply Now</a>
									</div>
									<small class="text-truncate"><i class="far fa-calendar-alt text-primary me-2"></i>Date Line: 01 Jan, 2045</small>
								</div>
							</div>
						</div>
						<div class="job-item p-4 mb-4">
							<div class="row g-4">
								<div class="col-sm-12 col-md-8 d-flex align-items-center">
									<img class="flex-shrink-0 img-fluid border rounded" src="img/com-logo-5.jpg" alt="" style="width: 80px; height: 80px;">
									<div class="text-start ps-4">
										<h5 class="mb-3">Wordpress Developer</h5>
										<span class="text-truncate me-3"><i class="fa fa-map-marker-alt text-primary me-2"></i>New York, USA</span>
										<span class="text-truncate me-3"><i class="far fa-clock text-primary me-2"></i>Full Time</span>
										<span class="text-truncate me-0"><i class="far fa-money-bill-alt text-primary me-2"></i>$123 - $456</span>
									</div>
								</div>
								<div class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
									<div class="d-flex mb-3">
										<a class="btn btn-light btn-square me-3" href=""><i class="far fa-heart text-primary"></i></a>
										<a class="btn btn-primary" href="">Apply Now</a>
									</div>
									<small class="text-truncate"><i class="far fa-calendar-alt text-primary me-2"></i>Date Line: 01 Jan, 2045</small>
								</div>
							</div>
						</div>
						<a class="btn btn-primary py-3 px-5" href="">Browse More Jobs</a>
					</div>
					<div id="tab-3" class="tab-pane fade show p-0">
						<div class="job-item p-4 mb-4">
							<div class="row g-4">
								<div class="col-sm-12 col-md-8 d-flex align-items-center">
									<img class="flex-shrink-0 img-fluid border rounded" src="img/com-logo-1.jpg" alt="" style="width: 80px; height: 80px;">
									<div class="text-start ps-4">
										<h5 class="mb-3">Software Engineer</h5>
										<span class="text-truncate me-3"><i class="fa fa-map-marker-alt text-primary me-2"></i>New York, USA</span>
										<span class="text-truncate me-3"><i class="far fa-clock text-primary me-2"></i>Full Time</span>
										<span class="text-truncate me-0"><i class="far fa-money-bill-alt text-primary me-2"></i>$123 - $456</span>
									</div>
								</div>
								<div class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
									<div class="d-flex mb-3">
										<a class="btn btn-light btn-square me-3" href=""><i class="far fa-heart text-primary"></i></a>
										<a class="btn btn-primary" href="">Apply Now</a>
									</div>
									<small class="text-truncate"><i class="far fa-calendar-alt text-primary me-2"></i>Date Line: 01 Jan, 2045</small>
								</div>
							</div>
						</div>
						<div class="job-item p-4 mb-4">
							<div class="row g-4">
								<div class="col-sm-12 col-md-8 d-flex align-items-center">
									<img class="flex-shrink-0 img-fluid border rounded" src="img/com-logo-2.jpg" alt="" style="width: 80px; height: 80px;">
									<div class="text-start ps-4">
										<h5 class="mb-3">Marketing Manager</h5>
										<span class="text-truncate me-3"><i class="fa fa-map-marker-alt text-primary me-2"></i>New York, USA</span>
										<span class="text-truncate me-3"><i class="far fa-clock text-primary me-2"></i>Full Time</span>
										<span class="text-truncate me-0"><i class="far fa-money-bill-alt text-primary me-2"></i>$123 - $456</span>
									</div>
								</div>
								<div class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
									<div class="d-flex mb-3">
										<a class="btn btn-light btn-square me-3" href=""><i class="far fa-heart text-primary"></i></a>
										<a class="btn btn-primary" href="">Apply Now</a>
									</div>
									<small class="text-truncate"><i class="far fa-calendar-alt text-primary me-2"></i>Date Line: 01 Jan, 2045</small>
								</div>
							</div>
						</div>
						<div class="job-item p-4 mb-4">
							<div class="row g-4">
								<div class="col-sm-12 col-md-8 d-flex align-items-center">
									<img class="flex-shrink-0 img-fluid border rounded" src="img/com-logo-3.jpg" alt="" style="width: 80px; height: 80px;">
									<div class="text-start ps-4">
										<h5 class="mb-3">Product Designer</h5>
										<span class="text-truncate me-3"><i class="fa fa-map-marker-alt text-primary me-2"></i>New York, USA</span>
										<span class="text-truncate me-3"><i class="far fa-clock text-primary me-2"></i>Full Time</span>
										<span class="text-truncate me-0"><i class="far fa-money-bill-alt text-primary me-2"></i>$123 - $456</span>
									</div>
								</div>
								<div class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
									<div class="d-flex mb-3">
										<a class="btn btn-light btn-square me-3" href=""><i class="far fa-heart text-primary"></i></a>
										<a class="btn btn-primary" href="">Apply Now</a>
									</div>
									<small class="text-truncate"><i class="far fa-calendar-alt text-primary me-2"></i>Date Line: 01 Jan, 2045</small>
								</div>
							</div>
						</div>
						<div class="job-item p-4 mb-4">
							<div class="row g-4">
								<div class="col-sm-12 col-md-8 d-flex align-items-center">
									<img class="flex-shrink-0 img-fluid border rounded" src="img/com-logo-4.jpg" alt="" style="width: 80px; height: 80px;">
									<div class="text-start ps-4">
										<h5 class="mb-3">Creative Director</h5>
										<span class="text-truncate me-3"><i class="fa fa-map-marker-alt text-primary me-2"></i>New York, USA</span>
										<span class="text-truncate me-3"><i class="far fa-clock text-primary me-2"></i>Full Time</span>
										<span class="text-truncate me-0"><i class="far fa-money-bill-alt text-primary me-2"></i>$123 - $456</span>
									</div>
								</div>
								<div class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
									<div class="d-flex mb-3">
										<a class="btn btn-light btn-square me-3" href=""><i class="far fa-heart text-primary"></i></a>
										<a class="btn btn-primary" href="">Apply Now</a>
									</div>
									<small class="text-truncate"><i class="far fa-calendar-alt text-primary me-2"></i>Date Line: 01 Jan, 2045</small>
								</div>
							</div>
						</div>
						<div class="job-item p-4 mb-4">
							<div class="row g-4">
								<div class="col-sm-12 col-md-8 d-flex align-items-center">
									<img class="flex-shrink-0 img-fluid border rounded" src="img/com-logo-5.jpg" alt="" style="width: 80px; height: 80px;">
									<div class="text-start ps-4">
										<h5 class="mb-3">Wordpress Developer</h5>
										<span class="text-truncate me-3"><i class="fa fa-map-marker-alt text-primary me-2"></i>New York, USA</span>
										<span class="text-truncate me-3"><i class="far fa-clock text-primary me-2"></i>Full Time</span>
										<span class="text-truncate me-0"><i class="far fa-money-bill-alt text-primary me-2"></i>$123 - $456</span>
									</div>
								</div>
								<div class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
									<div class="d-flex mb-3">
										<a class="btn btn-light btn-square me-3" href=""><i class="far fa-heart text-primary"></i></a>
										<a class="btn btn-primary" href="">Apply Now</a>
									</div>
									<small class="text-truncate"><i class="far fa-calendar-alt text-primary me-2"></i>Date Line: 01 Jan, 2045</small>
								</div>
							</div>
						</div>
						<a class="btn btn-primary py-3 px-5" href="">Browse More Jobs</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Jobs End -->

<%- include('./partials/contacts-section.ejs') %>



<%- include('./partials/footer.ejs') %>